* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(10, 10, 35);
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: rgb(7, 7, 66);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
#element {
  color: rgb(48, 48, 255);
}

nav ul li a:hover {
  color: rgb(110, 110, 255);
  font-size: 0.75rem;
}

.left {
  font-size: 1.25rem;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 100px 0;
}
.firstSection > div {
  width: 30% 0;
}

.leftSection {
  font-size: 2.25rem;
}
.rightSection img {
  width: 250px;
  margin: 40px;
}
.name {
  color: rgb(48, 48, 255);
}
.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
main hr {
  border: 0;
  background-color: rgb(88, 88, 224);
  height: 0.75px;
  margin: 30px 100px;
}
.text-grey {
  color: grey;
  font-size: 15px;
}
.secondSection .box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}
.secondSection .vertical {
  height: 150px;
  width: 1px;
  background-color: white;
  margin: 0 100px;
}
.vertical-title {
  position: relative;
  font-size: 12px;
  width: 150px;
}
.vertical-desc {
  position: relative;
  top: 140px;
  color: gray;
  font-size: 12px;
  width: 150px;
  text-align: justify;
}
.image-top {
  width: 23px;
  position: relative;
  top: -32px;
  left: -9px;
}
.vertical-text {
  position: relative;
  top: 132px;
  width: 121px;
}
footer {
  background-color: rgb(6, 8, 66);
  height: 233px;
}
.footer-first h3 {
  display: flex;
  padding: 23px 122px;
}
.text-center {
  color: gray;
  text-align: center;
  margin: 15px;
}
.image-logo {
  width: 23px;
  position: relative;
  top: 3px;
}
.link {
  text-align: center;
  align-items: center;
}

.link1 {
  text-align: center;
  align-items: center;
}
.image-logo1 {
  width: 23px;
  position: relative;
  top: 5px;
}
